/* project-specific CSS belongs here */

.backdrop {
  fill : var(--grey-10)
}

.tick line {
  stroke: black;
}
.rules .tick line {
  stroke: white;
}
.domain {
  stroke: black;
}


.voronoi {
  opacity: 0;
}
