/* project-specific CSS belongs here */

.backdrop {
  fill : var(--grey-10)
}

.chart-container .tab-bar .tab {
  flex-basis: auto;  /* non-uniform tab widths */
}

.tick line {
  stroke: black;
}
.domain {
  stroke: black;
}
.rules {
  .tick line {
    stroke: white;
  }
  .domain {
    display : none;
  }
}


.voronoi {
  opacity: 0;
}
