/* project-specific CSS belongs here */

.backdrop {
  fill : var(--grey-10)
}

.chart-container .tab-bar .tab {
  flex-basis: auto;  /* non-uniform tab widths */
}

/*oh this is so lazy...*/
.tab-bar .tab {
  &:nth-child(2) { color : var(--red-1); }
  &:nth-child(3) { color : var(--blue-2); }
  &:nth-child(4) { color : var(--green-1); }
  &:nth-child(5) { color : var(--yellow-1); }
}


.tick line {
  stroke: black;
}
.domain {
  stroke: black;
}
.rules {
  .tick line {
    stroke: white;
  }
  .domain {
    display : none;
  }
}


.voronoi {
  opacity: 0;
}

.tooltip-bounder {
  position: relative;
}
.tooltip {
  padding: 2px 5px;
  pointer-events: none;
  font-size: 14px;
}
